@font-face 
{
    font-family: 'orbitron-black';
    src: url('../font/orbitron-black.otf');
}

@font-face 
{
    font-family: 'orbitron-bold';
    src: url('../font/orbitron-bold.otf');
}

@font-face 
{
    font-family: 'orbitron-light';
    src: url('../font/orbitron-light.otf');
}

@font-face 
{
    font-family: 'orbitron-medium';
    src: url('../font/orbitron-medium.otf');
}

body
{
	background: url("../img/background.jpg") center top no-repeat;
	background-attachment: scroll;
	color: rgba(0,0,0, 0.8);
}

h1
{
    color: grey;
    opacity: 1;
    font-size: 60px;
    font-family: 'orbitron-medium', sans-serif;
    text-shadow: 2px 2px 4px black;
}

h2
{
	margin: 50px;
	color: grey;
	font-size: 48px;
	font-family: 'orbitron-light', sans-serif;
	text-shadow: 2px 2px 4px black;
}

h3
{
	font-size: 14px;
	font-family: 'orbitron-light', sans-serif;
	text-align: right;
	text-shadow: 2px 2px 4px black;
}

h4
{
	font-size: 10px;
	font-family: 'orbitron-bold', sans-serif;
	text-shadow: 2px 2px 4px black;
}

li
{
	font-size: 14px;
	color: rgb(125,125,125);
	font-family: 'orbitron-black', sans-serif;
}

a
{
	font-size: 24px;
	color: grey;
	font-family: 'orbitron-black', sans-serif;
}

a:hover
{
	color: silver;
}

a:active
{
	color: white;
}

p
{
	margin: 20px;
	font-size: 20px;
	font-family: 'orbitron-medium', sans-serif;
	text-shadow: 2px 2px 4px black;
	width: 50%;
}

article
{
	text-align: justify;
}

.imageflottante
{
    float: left;
}

.dessous
{
    clear: both;
}

section.info_user
{
	background-color: #777474;
	width: auto;
	text-align: right;
	width: 17%;
	float: right;
}
section.info_user h2
{
	background-color: #3a3a3a;
}
section.info_user ul
{

}
